.grey {
    background: lightgray;
    height: 2000px;
    margin-top: 500px;
}

.image {
    float: right;
    width: 400px;
    /* sticky -> 조건부 fixed, 부모박스 넘어가면 해제 */
    position: sticky;
    top: 100px
}

.text {
    float: left;
    width: 300px;
}